@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Devanagari", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-gray-50 transition-colors duration-200;
  -webkit-tap-highlight-color: transparent;
}

.dark body {
  @apply bg-gray-950;
}

.bottom-nav {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
